
<li>
	<div class="messages">
  <span class="content"><%= message.content %></span></br>
  <span class="timestamp">
    Posted by <%=message.student.capitalize_name%> <%=time_ago_in_words(message.created_at) %> ago.
  </span>
  	 <div class="links"> <%=link_to "message", message %>
  	 	<% if message.student==current_student then%>
    <%= link_to "delete", message, method: :delete, data: {confirm: "Are You Sure?"}%></div>
    <%end%>
</div>
</li>