
<div id="messagesheader">
	Message Board
</div>
<div id="messagebox">
<%= form_for Message.new, :remote => true do|f| %>
  <div class="field">
    <%= f.text_area :content, :id => "text", placeholder: "Compose new message..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
</div>
<div id="javascript"></div><br/>
<div class="studentmessages">
	<ol class="messages">
		<%= render @messages %>

	</ol>
	<%=will_paginate @messages%>
</div>