<h3>Message</h3>
<p><b>Content:</b> <%= @message.content %></p>
<p><b>Posted by:</b> <%= @message.student.capitalize_name %></p>
<p><b>Posted at:</b> <%= @message.created_at %></p>
 <div class="links">
<p><%= link_to @message.student.capitalize_name, @message.student%></p>
<p><%= link_to @message.student.house.name, @message.student.house%></p>
<p><%= link_to "delete", @message, method: :delete, data: {confirm: "Are You Sure?"}%><p>
</div>