  <p id="notice"><%= notice %></p>


	
<div id="house_box">
<p id="housename">
  <%= @house.name %>
  </p></div>


<div id="house-page-container">
<div id="house-page-header">
<div id="house-name"><b><%=@house.name%> Roster</b></div>
<div id="house-type">


  <%= @house.house_type %>



</div>
</div>
<div id="shieldbox">
	<img id="houseshield" src="" alt="Shield Thingy Goes Here">
	</div>

<div id ="accordion">
	<h3>2013</h3>
	<div>
	<table id="accordion_labels">
	<tr>

		<th>Name</th>
		<th>Email</th>
		<th>Gender</th>
		<th>Pledge Class</th>
	</tr>
	
	<% @house.students.each do |student| %>
	<% if student.pledge_class=="2013" then %>
	<tr>
		<td><%= student.capitalize_name%></td>
		<td><%= student.email%></td>
		<td><%= student.gender%></td>
		<td><%= student.pledge_class%></td>
		 <td><%= link_to 'View', student_path(student), :class=>"links"%></td>
	</tr>
	<%end%>
	<% end %>
</table>
</div>
<h3>2014</h3>
<div>
	<table id="accordion_labels">
	
	<tr>

		<th>Name</th>
		<th>Email</th>
		<th>Gender</th>
		<th>Pledge Class</th>
	</tr>
	<% @house.students.each do |student| %>
	<% if student.pledge_class=="2014" then %>
	<tr>
		<td><%= student.capitalize_name%></td>
		<td><%= student.email%></td>
		<td><%= student.gender%></td>
		<td><%= student.pledge_class%></td>
		 <td><%= link_to 'View', student_path(student), :class=>"links"%></td>
	</tr>
	<% end %>
	<% end %>
</table>
</div>
<h3>2015</h3>
<div>
	<table id="accordion_labels">
	
	<tr>

		<th>Name</th>
		<th>Email</th>
		<th>Gender</th>
		<th>Pledge Class</th>
	</tr>
	<% @house.students.each do |student| %>
	<% if student.pledge_class=="2015" then %>
	<tr>
		<td><%= student.capitalize_name%></td>
		<td><%= student.email%></td>
		<td><%= student.gender%></td>
		<td><%= student.pledge_class%></td>
		  <td><%= link_to 'View', student_path(student), :class=>"links"%></td></div>
	</tr>
	<% end %>
	<% end %>
</table>
</div>
<h3>2016</h3>
<div>
	<table id="accordion_labels">
	
	<tr>

		<th>Name</th>
		<th>Email</th>
		<th>Gender</th>
		<th>Pledge Class</th>
	</tr>
	<% @house.students.each do |student| %>
	<% if student.pledge_class=="2016" then %>
	<tr>
		 	<td><%= student.capitalize_name%></td>
		<td><%= student.email%></td>
		<td><%= student.gender%></td>
		<td><%= student.pledge_class%></td>
		 <td><%= link_to 'View', student_path(student), :class=>"links"%></td></div>
		
	</tr>
	<% end %>
	<% end %>
</table>
</div>
<h3>2017</h3>
<div>
	<table >
	
	<tr>

		<th>Name</th>
		<th>Email</th>
		<th>Gender</th>
		<th>Pledge Class</th>
	</tr>
	<% @house.students.each do |student| %>
	<% if student.pledge_class=="2017" then %>
	<tr>
			<td><%= student.capitalize_name%></td>
		<td><%= student.email%></td>
		<td><%= student.gender%></td>
		<td><%= student.pledge_class%></td>
		 <div class="links"><td><%= link_to 'View Person', student_path(student) %></td></div>
	</tr>
	<% end %>
	<% end %>
</table>
</div>
</div>
</div>
<br />

<table id= "invitations">
	<% if current_student.house==@house then %>
	<th>Pending Invitations</th>
	<tr>

		<th>Event</th>
		<th>Response</th>
	</tr>
	<% @house.invitations.each do |invitation| %>
	<tr>
		 <div class="links"><td><%= link_to invitation.event.name, invitation.event%></td></div>
		<td><%= invitation.response%></td>
		
		 <div class="links"><td><%= link_to 'View Invitation', invitation_path(invitation) %></td></div>
		<%if current_student.role == "social_chair" then %>
		<td><%= form_for invitation, :remote => true do |f|%>
			<%= f.label :response, "Response"%><br/>
			<%=f.select :response, ["Yes", "No"]%>
			<%=f.submit "Respond to invite"%>
			
			<%end%>
			<%end%>
		</td>
	</tr>
	<%end%>
	
	<%end%>
</table>
</div>
<br>
<br>
<table id="table_events">
	<th>Event Information</th>
	
	<%= calendar @house.events do |event| %>
	<%if @house==current_student.house then%>
   <div class="eventlinks"><div> <%=link_to event.name, event %></div></div>
  <div>Start Time: <%= event.start_time.time.to_s(:time) %></div>
<%else%>
 <div class="eventlinks"><div> Unavailable</div></div>
  <div><%= event.start_time.time.to_s(:time)   %></div>
<%end%>
<%end%>
	</table>
	<% if current_student.house==@house then %>
	<% if current_student.role=="social_chair" then%>
	<div class="form">
	<div id ="add-event-title">Add Event</div>
	<%= form_for Event.new, :remote => true do|f| %>
		<%=f.label :name, "Name", :id=>"event-label" %><br />
		<%=f.text_field :name, :id => "event-text-field" %><br />
		<%=f.label :location, "Location", :id=>"event-label" %><br />
		<%=f.text_field :location, :id => "event-text-field"%><br />
		<%=f.label :description, "Description", :id=>"event-label" %><br />
		<%=f.text_area :description, :id => "description"%><br />
		<%=f.label :start_time, "Date", :id=>"event-label"%><br />
		<%=f.date_select :start_time, :class=>"event-select"%><br />
		<%=f.label :start_time, "Time", :id=>"event-label"%><br />
		<%=f.time_select :start_time, :ignore_date => true, :class=>"event-select" %><br />
		<%=f.label :event_type, "Type", :id=>"event-label"%><br />
		<%=f.select :event_type, ["Pregame", "Exchange", "Philanthropy"], :class=>"event-select"%><br />
		<%= f.hidden_field :house_id, :value => @house.id %><br />
	
		<br>
		<div id="button-holder">
		<%= f.submit "Add Event", :id=>"add-event"%></div>
	<%end%>
</div>
	<%end%>
	<%end%>

	<br>		
	<br>
	<br>
	


<script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  </script>

