<h1>Listing Students</h1>
<%= form_tag students_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
	<%end%>
	<% if (@students) then %>
	<table>
		<tr>
			<th>Name</th>
	
			<th>Email</th>
			<th>Registered</th>
			<th>Role</th>
		</tr>
		<% @students.each do |student| %>
		<tr>
			<td><%=link_to "#{student.capitalize_name}", student %></td>
			<td><%=student.email%></td>
			<td><%=student.created_at.to_date%></td>
			<td><%=student.roles.first.name.titleize unless student.roles.first.nil?%></td>
			
        </td>
			 <div class="links"><td><%=link_to 'Show', student%> </td>
			<td><%= link_to 'Edit', edit_student_path(student) %></td>
			<td><%= link_to 'Destroy', student, method: :delete, data: {confirm: 'Are You Sure>'} unless student ==current_student %></td></div>
		</tr>
		<% end %>
		<% end %>
	</table>
	<br />
	<br />

