<h3><%= @student.capitalize_name %></h3>
<p><b>Role:</b> <%=@student.role%></p>
<p><b>Email:</b> <%= @student.email%></p>
<p><b>House:</b> <%= link_to @student.house.name, @student.house %></p>

<p><b>Pledge Class:</b> <%= @student.pledge_class %></p>
	<p><b>Events This Month:</b></p>
	<% @student.house.events.each do |event| %>
	<%if event.start_time.mon==Time.now.mon then%>
	<p><%= link_to event.name, event%></p>
	<%end%>
	<%end%>
<br>
<br>
<br>

<% if @student.profile %>
<b>Profile</b>
<table id="profile">
	<tr>
		<%if @student.profile.birthday then%>
		<th>Birthday</th>
		<%end%>
		<th>Interests</th>
		<th>Phone</th>
		<th>Relationship Status</th>
		
	</tr>

	<tr>
	<%if @student.profile.birthday then%>
		<td><%= @student.profile.birthday.to_formatted_s(:long_ordinal) %></td><%end%>
		<td><%= @student.profile.interests %></td>
		<td><%= @student.profile.phone %></td>
		<td><%= @student.profile.relationship_status %></td>
		<%if current_student.id==@student.id then %>
		<td><%=link_to "Edit", edit_profile_path(@student.profile)%></td>
		<%end%>
	
	</tr>
	</table>
	<%else%>
	<%if current_student.id==@student.id then %>
	<b>Profile Empty</b>
</br></br><%=button_to "Create Profile", new_profile_path, :method => :get%>
<%end%>
<%end%>
<br>
<br>
<br>

	<%if @student.messages.any? %>
	<div class="student messages">
	<h3><%=@student.capitalize_name%>'s Messages (<%= @student.messages.count%>) </h3>
	<ol class="messages">
		<%= render @messages %>
	</ol>
	<%=will_paginate @messages %>
	<%end%>
</div>



