<li id="<%= feed_item.id %>">
  
 
  <span class="content"><%= feed_item.content %></span>
   
  <span class="timestamp">
    Posted by <%= link_to feed_item.student.name, feed_item.student %> <%=  time_ago_in_words(feed_item.created_at) %> ago.
  </span>
   <%= link_to "delete", feed_item, method: :delete, data: { confirm: "Are You sure?" } %>

 
</li>