<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application.js" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>

  <body class="<%= controller_name %> <%= action_name %>">
    
      <div id="header">
      
        <ul id="nav_left" >
            <li id="title">GREEKILLINI</li>
             <li><%= link_to "message board" , messages_path, :class=>"headerlinks" %>
             </li>
              <li>
            <%= link_to "houses", houses_path, :class=>"headerlinks" %>
             </li>
         </ul>
      
      
        <ul id="nav_right" >
         <% if student_signed_in? %>
          <li><%= link_to current_student.capitalize_name, student_path(current_student.id), :class=>"headerlinks" %><li>
          <%end%>
          <li id="li_line"> | </li>
          <li>
         <%= render 'layouts/messages' %>
           </li>
           <li>
           <%= render 'layouts/navigation' %>
          </li>
   
   </ul>
      
      </div>
      <div id="main" role="main">
        <%= yield %>
      </div>

      <footer>

      </footer>
   
  </body>
</html>